
.popup-header {
  background-color: var(--track-color);
  display: flex;
  justify-content: space-between;
  max-height: 40px;
}

.popup-name {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.popup-close-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
}
.checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 60px;
}

.slider-box   {
  height: 45px;
}
.presets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.preset {
  margin: 5px 10px;
  width: 100px;
  height: 30px;
}
button {
  box-shadow: 5px 5px 6px 1px rgb(30 30 30 / 75%);
  font-size: smaller;
  font-family:cursive ;
}
button:hover{
background-color: lightgrey;
}
 label {
  font-size: smaller;
  font-family:cursive ;
 }

.startStopBtn{
  width: 140px;
  height: 30px;
  color: white;
  font-weight: bold;
}
.start {
   background-color: red;
}
.stop{
   background-color: green;
 }

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border:2px solid black;
  margin: 15px;
  border-radius: 3px
}
.header-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colors-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  height: 20px;
  width:20px;
   margin: 5px;
   border:1px solid black;
   border-radius: 3px;
 }
.box:hover {
  transform: scale(1.3);
}
.box.selected {
  border:3px solid rgb(48, 48, 48);
   border-radius: 3px;
}

.cell {
  height:6px;
  width:6px;
    margin: 2px;
   border-radius: 10px;
   background-color: gainsboro;
   text-indent: 100%;
   overflow: hidden;
 }
 
.cell:hover {
  transform: scale(1.7);
}

/* .cell.shine{
  background-color: gold;
  transform: scale(1.5);
} */

/* .inhabited {
  background-color: green
} */

.popup-container{
  position: absolute;
  height: 500vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(1px);
  background-color: rgba(206, 208, 177, 0.295);
}

.popup {
  border: 1px solid black;
  width: 260px;
  height: 380px;
  background-color: white;
  margin-top: 200px;
  margin-left: 100px;
  border-radius: 3px;
}

.empty {
  background-color: rgb(204, 204, 204);
  text-indent: 0%
}

.backgound {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Slider */
:root {
  --main-color: rgb(21, 104, 247);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}

.customSlider {
  max-width: 200px;
  margin: auto;
}

.customSlider-track {
    top: 8px;
   height: 4px;
  background: var(--track-color);
}
.reverseSlider-track {
  top: 8px;
   height: 4px;
  background: var(--main-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--main-color);
}
.reverseSlider-track.customSlider-track-0 {
   background: var(--track-color);
}
.customSlider-thumb {
  cursor: pointer;
 background: var(--main-color);
  width: 15px;
  height:25px;
  border-radius: 20%;
  outline: none;
  color: white;
  font-size: smaller;
  
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}
.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}


