/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


.d-flex{
  display: flex;
}
.a-center{
   align-items: center;
}
.j-center{
   justify-content: center;
}
.f-wrap{
  flex-wrap: wrap;
}
.space-btw {
  justify-content: space-between;
}
.f-column {
  flex-direction: column
}
.popup-header {
  background-color: var(--track-color);
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  /* d-flex space-btw */
  /* margin: 15px; */
}
.popup-name {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.popup-close-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
}
button {
  box-shadow: 5px 5px 6px 1px rgb(30 30 30 / 75%);
}
button:hover{
background-color: lightgrey;
}

.startStopBtn{
  width: 140px;
  height: 30px;
  color: white;
  font-weight: bold;
}
.start {
   background-color: red;
}
.stop{
   background-color: green;
 }

/* button:active{
  background-color: blueviolet;
} */


.container{
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border:2px solid black;
  margin: 15px;
  border-radius: 3px
}
.header-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  height: 20px;
  width:20px;
   margin: 5px;
   border:1px solid black;
   border-radius: 3px;
 }
.box:hover {
  transform: scale(1.3);
}
.box.selected {
  border:3px solid rgb(48, 48, 48);
   border-radius: 3px;
}

.cell {
  height:6px;
  width:6px;
    margin: 2px;
   border-radius: 10px;
   background-color: gainsboro;
   text-indent: 100%;
   overflow: hidden;
   transition: 0.05s linear;

}
/* .cell:hover {
  transform: scale(1.7);

} */

.cell.shine{
  background-color: gold;
  transform: scale(1.5);

}
.inhabited {
  background-color: green
}
.popup-container{
  position: absolute;
  height: 500vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(1px);
  background-color: rgba(206, 208, 177, 0.295);
}

.popup {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-color: white;
  margin-top: 200px;
  margin-left: 100px;
  border-radius: 3px;
}

.empty {
  background-color: rgb(204, 204, 204);
  text-indent: 0%
}

.backgound {
  /* background-color: #282c34; */
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin);
  color: white; */

}

/* Slider */
:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}

.customSlider {
  /* max width of your slider */
  max-width: 200px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
 /* default color of your track */
  background: var(--track-color);
}
.reverseSlider-track {
  top: 8px;
   height: 4px;
  background: var(--main-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}
.reverseSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--track-color);
}
.customSlider-thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 10px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}
.customSlider-mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.customSlider-mark.customSlider-mark-active {
  display: none;
}


